java/client-java/xml-resources/web-service-references/WsClient/wsdl/www.dom.net.br/sisv5/ws/v1.0/wsdl/index.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="sdd_dispatcher" targetNamespace="http://www.dom.net.br/sisv5/ws/v1.0/WSDL/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.dom.net.br/sisv5/ws/v1.0/WSDL/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
    
	<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"/>
	

    
	<wsdl:types>
		
       
		<xsd:schema elementFormDefault="qualified" targetNamespace="http://www.dom.net.br/sisv5/ws/v1.0/WSDL/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			
       
			<xsd:element name="SDDForm">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="senha" type="xsd:string"/>
						<xsd:element name="login" type="xsd:string"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SDDFormResponse">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="formulario" type="tns:SDDFormResponseformulario"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="SDDFormResponseformulario">
				<xsd:all>
					<xsd:element name="instrucoes" type="tns:ArrayOfSDDFormResponseformularioinstrucoes"/>
					<xsd:element name="alternativas" type="tns:ArrayOfSDDFormResponseformularioalternativas"/>
					<xsd:element name="status" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfSDDFormResponseformularioinstrucoes">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="frase" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfSDDFormResponseformularioalternativas">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="alternativa" type="tns:ArrayOfSDDFormResponseformularioalternativasalternativa"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfSDDFormResponseformularioalternativasalternativa">
				<xsd:all>
					<xsd:element name="frase" type="xsd:string"/>
					<xsd:element name="id" type="xsd:int"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:element name="SDDLaudoSintese">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="senha" type="xsd:string"/>
						<xsd:element name="login" type="xsd:string"/>
						<xsd:element name="codigo" type="xsd:string"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SDDLaudoSinteseResponse">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="laudo" type="tns:SDDLaudoSinteseResponselaudo"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="SDDLaudoSinteseResponselaudo">
				<xsd:all>
					<xsd:element name="bloco" type="tns:ArrayOfSDDLaudoSinteseResponselaudobloco"/>
					<xsd:element name="titulo" type="xsd:string"/>
					<xsd:element name="status" type="xsd:string"/>
					<xsd:element name="descricao" type="xsd:string"/>
					<xsd:element name="empresa" type="xsd:string"/>
					<xsd:element name="cargo" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfSDDLaudoSinteseResponselaudobloco">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="velocidade" type="tns:ArrayOfArrayOfSDDLaudoSinteseResponselaudoblocovelocidade"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="detalhe" type="tns:ArrayOfArrayOfSDDLaudoSinteseResponselaudoblocodetalhe"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="lideranca" type="tns:ArrayOfArrayOfSDDLaudoSinteseResponselaudoblocolideranca"/>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="comunicacao" type="tns:ArrayOfArrayOfSDDLaudoSinteseResponselaudoblococomunicacao"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfArrayOfSDDLaudoSinteseResponselaudoblocovelocidade">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="frase" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfArrayOfSDDLaudoSinteseResponselaudoblocodetalhe">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="frase" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfArrayOfSDDLaudoSinteseResponselaudoblocolideranca">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="frase" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfArrayOfSDDLaudoSinteseResponselaudoblococomunicacao">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="frase" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="SDDPerf">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="cpf" type="xsd:string"/>
						<xsd:element name="nome" type="xsd:string"/>
						<xsd:element name="alternativas" type="xsd:string"/>
						<xsd:element name="email" type="xsd:string"/>
						<xsd:element name="senha" type="xsd:string"/>
						<xsd:element name="celular" type="xsd:string"/>
						<xsd:element name="sexo" type="xsd:string"/>
						<xsd:element name="codigo" type="xsd:string"/>
						<xsd:element name="dt_nasc" type="xsd:string"/>
						<xsd:element name="login" type="xsd:string"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SDDPerfResponse">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="pesquisado" type="tns:SDDPerfResponsepesquisado"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="SDDPerfResponsepesquisado">
				<xsd:all>
					<xsd:element name="codigo" type="xsd:string"/>
					<xsd:element name="perfil" type="tns:ArrayOfSDDPerfResponsepesquisadoperfil"/>
					<xsd:element name="status" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfSDDPerfResponsepesquisadoperfil">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="competencia" type="tns:ArrayOfSDDPerfResponsepesquisadoperfilcompetencia"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ArrayOfSDDPerfResponsepesquisadoperfilcompetencia">
				<xsd:all>
					<xsd:element name="label" type="xsd:string"/>
					<xsd:element name="valor" type="xsd:int"/>
				</xsd:all>
			</xsd:complexType>
		</xsd:schema>
		
    
	</wsdl:types>
	


	<wsdl:message name="SDDFormInput">
		<wsdl:part element="tns:SDDForm" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="SDDFormOutput">
		<wsdl:part element="tns:SDDFormResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="SDDLaudoSinteseInput">
		<wsdl:part element="tns:SDDLaudoSintese" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="SDDLaudoSinteseOutput">
		<wsdl:part element="tns:SDDLaudoSinteseResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="SDDPerfInput">
		<wsdl:part element="tns:SDDPerf" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="SDDPerfOutput">
		<wsdl:part element="tns:SDDPerfResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:portType name="sdd_dispatcherPortType">
		<wsdl:operation name="SDDForm">
			<wsdl:documentation>Acessa o sistema DOM com o login e senha e obtém o formulário e as instruções de como preencher.</wsdl:documentation>
			<wsdl:input message="tns:SDDFormInput"/>
			<wsdl:output message="tns:SDDFormOutput"/>
		</wsdl:operation>
		<wsdl:operation name="SDDLaudoSintese">
			<wsdl:documentation>Acessa o sistema DOM com o login e senha e obtém o laudo do pesquisado a partir do código cadastrado.</wsdl:documentation>
			<wsdl:input message="tns:SDDLaudoSinteseInput"/>
			<wsdl:output message="tns:SDDLaudoSinteseOutput"/>
		</wsdl:operation>
		<wsdl:operation name="SDDPerf">
			<wsdl:documentation>Acessa o sistema DOM com o login e senha e obtém o perfil do pesquisado a partir do seu formulário enviado.</wsdl:documentation>
			<wsdl:input message="tns:SDDPerfInput"/>
			<wsdl:output message="tns:SDDPerfOutput"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="sdd_dispatcherBinding" type="tns:sdd_dispatcherPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="SDDForm">
			<soap:operation soapAction="http://www.dom.net.br/sisv5/ws/v1.0/WSDL/SDDForm" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SDDLaudoSintese">
			<soap:operation soapAction="http://www.dom.net.br/sisv5/ws/v1.0/WSDL/SDDLaudoSintese" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SDDPerf">
			<soap:operation soapAction="http://www.dom.net.br/sisv5/ws/v1.0/WSDL/SDDPerf" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="sdd_dispatcherService">
		<wsdl:documentation></wsdl:documentation>
		<wsdl:port binding="tns:sdd_dispatcherBinding" name="sdd_dispatcher">
			<soap:address location="http://www.dom.net.br/sisv5/ws/v1.0/WSDL/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
